body {
    background-image: url("light.jpg");
    background-size: contain;
    background-attachment: fixed;
    background-repeat: repeat;
}
.topnav a {
    color: black;


    
    font-weight: 600;
}
.topnav a:hover {
    text-decoration:none;
    background-color: blue;
}
 
h1{
	color: red;
    text-align: center;
}
p{
  color: green;
  text-align: center;
}
h2{
	color: purple;
	text-align: center;}

h3{
	color: purple;
	text-align: center
}

h4{
	color: purple;
	text-align: center;
}

.purple{
    color: blue!important;
    font-size:45px;

       }

 .highlight{
 	background-color: white;
 	color: black!important;
 	font-size:60px;
  float: left;
 }     
    
 .helvetica{
 	font-family:helvetica;
	font-size:300%;
	font-style:italic;
 }

 .class{
 	font-size:300%;

 }
 .src{border-width: 50%}
 
 .red{
 	color: green!important;
    font-size:60px;
    width: 100%;
    float: left;

 }
 .pink{
 	font-size:100px;
 }
 .ugly{
  border-image: 25%
 }
 .pinky{
  float: left;
 }
 .att{color: white;}
 
 .portfolio_image{
  width: 50%;
 }
 body {
    font-family: 'Open Sans', sans-serif;
}

.topnav {
    padding: 20px;
    text-align: right;
    float: left;



}
.sub{
  float: top;
  color: white;
}
.small{
  width: auto 50%;
}

header {

}

footer {
    border-top: 1px solid black;
    margin-top: 40px;
}
.gallery{
  margin: 10px 50px;

}
.gallery img{
  width: 230px;
  padding: 5px;
  filter: grayscale(100%);
  transition-duration: 1s;

}

.gallery img:hover{
  filter:grayscale(0);
  transition: scale(1.1);
}


.backhome{
  width: auto 0;
}
.nme{

  font-size: 24px;
  text-decoration: 0;

}
.green{
  font-style: italic;
}




